@use "index" as *;

html {
  // The division allows using rem units instead of px units without changing the value.
  // Example: font-size: 20px; -> font-size: 20rem;
  $default-font-size: 16;
  font-size: calc(clamp(8px, 1rem, 32px) / $default-font-size);
}

body {
  background-color: $color-light-gray;
  padding: 28px;
  min-width: 208px;

  // Center content
  display: grid;
  place-items: center;
  min-height: 100vh;

  // Typography (inherited)
  font-family: "Outfit", sans-serif;
  font-feature-settings: "clig" off, "liga" off;
  line-height: normal;
}
